.card__place-like {
    display: block;
    margin: 0;
    grid-column: -1 / 1;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
    padding-right: 20px;
}

.card__place-like:hover {
    opacity: 0.5;
}