.profile__profession {
    max-width: 336px;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 767px)  {
    .profile__profession {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        grid-column: 1 / 4;
        grid-row: 5 / 6;
        justify-self: center;
    }
}