.popup__close-icon {
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/Close_Icon.svg);
    border: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
}

.popup__close-icon:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
        background-image: url(../../../images/Close_Icon_small.svg);
    }
}