.form__handler {
    width: 358px;
    padding: 18px 0 37px;
    margin: auto;
    border: 0; 
} 

@media screen and (max-width: 767px) {
    .form__handler {
        padding: 15px 0 25px;
        width: 238px;
    }
}   