.profile__add-button-big {
    display: none;
}

.profile__add-button-big:hover {
    opacity: .6;
}

@media screen and (max-width: 767px)  {
    .profile__add-button-big {
        grid-column: 1 / 4;
        grid-row: 7 / 8;
        justify-self: center;
        display: block;
    }
}
