.profile__add-button-big {
    display: none;
}

.profile__add-button-big:hover {
    opacity: .6;
}

@media screen and (max-width: 767px)  {
    .profile__add-button-big {
        width: 282px;
        border: 0;
        background-color: transparent;
        background-image: url(../../../images/Add-Button_size_big.svg);
        grid-column: 1 / 4;
        grid-row: 7 / 8;
        justify-self: center;
        display: block;
    }
}
